button {
    margin: 0;
    width: 45%;
    overflow: visible;
    background-color: #6ee4ff;
    color: inherit;
    font: inherit;
    font-weight: bold;
    line-height: normal;
    border: 2px solid #6ee4ff;
    cursor: pointer;
    opacity: 1;
}
button:disabled {
    opacity: 0.5;
}